<div>
              <%= simple_form_for [@form] do |f| %>
              <div class="form_inputs">
                <div class="">

      <p style="color:#CCA459;"> Human trafficking</p>

                 <%= f.check_box :cough, label: "Cough", class: "big-box"%>

    </div>
        <%= f.button :submit, class: "btn btn-flat-orange", value: "Create Article" %>
<% end %>

            </div>
          </div>

