


<div class= "container">

  <div class="row" style="margin-top: 56px; ">

<div class="col-8">

    <h2 style="margin-bottom:56px;">Player Name: <%= @user.name.capitalize %> </h2>

</div>

<div class="col-12">

                  <% if @form.temp? %>
                  <h2>Temperature:</h2>
                    <h3 style="color:#CCA459;"> <%= @form.temp %> degrees celcius</h3>
                  <% end %>
<h2>The player is presenting the following symptoms:</h2>
                <% if @form.cough? %>
              <div class="" style="">
                  <h3 style="color:#CCA459;"> Cough</h3>
                </div>

                <% end %>

                <% if @form.fever? %>
                <div class="" style="">
                  <h3 style="color:#CCA459;"> Fever</h3>
                </div>
                <% end %>


                <% if @form.sense_of_smell? %>
                  <div class="" style="">
                  <h3 style="color:#CCA459;"> Loss of sense of smell</h3>
                </div>

                <% end %>


                <% if @form.sense_of_taste? %>
                              <div class="" style="">
                  <h3 style="color:#CCA459;"> Loss of sense of taste</h3>
                </div>

                <% end %>

                <% if @form.sore_throat? %>
                                <div class="" style="">
                  <h3 style="color:#CCA459;"> Sore throat</h3>
                </div>

                <% end %>

                  <% if @form.awaiting_results? %>
                                <div class="" style="">
                  <h3 style="color:#CCA459;"> Awaiting Results of a covid test</h3>
                </div>

                  <% end %>



                  <% if @form.past_two_weeks? %>
                                <div class="" style="">
                  <h3 style="color:#CCA459;"> Been in contact in the last 2 weeks</h3>
                </div>

                  <% end %>

                <% if @form.shortness_of_breath? %>
                                <div class="" style="">
                  <h3 style="color:#CCA459;"> Shortness of Breath</h3>
                </div>

                  <% end %>







</div>

  </div>

          </div>

