<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/raiders_rugbysa/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>

    <a href="https://www.facebook.com/raidersrugbysa/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/raiders_rugbysa?lang=en"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i style="font-size: 1.75rem; font-weight:700; color: black">Producing the Springboks of tomorrow</i>
  </div>
</div>
