<div class="container">
  <div class="row">
        <div class="col-8" style="position: relative; margin: 0 auto;">
<%= image_tag "raiders.jpg" %>

    </div>
    <div class="col-8" style="position: relative; margin: 0 auto;">
      <h1>Covid checklist</h1>
    </div>
  </div>
</div>
