<div class="container">
  <div class="row" style="padding-top:164px;">
        <div class=" col-12 col-lg-8 fill" style="position: relative; margin: 0 auto;">
<%= image_tag "raiders.png" %>

    </div>
    <div class="col-12" style="position: relative; margin: 0 auto;">
      <h1 style="text-align:center; padding-top:48px; padding-bottom: 48px; font-size:3.5rem; font-weight:700;">Login to fill out your covid form</h1>
    </div>
  </div>
</div>
