<div class="container">
  <div class="row" style="padding-top:164px;">
        <div class=" col-12 col-lg-8 fill" style="position: relative; margin: 0 auto;">
<%= image_tag "raiders.png" %>

    </div>
<% if user_signed_in? %>
<div class="col-12">
  <p style="text-align: center; padding-left:56px; font-size:1.5rem; margin-bottom: -32px; margin-top: 40px;">Tap the button to fill out your covid form</p>

 <p style="position: relative; margin:0 auto; text-align: center; padding-top: 56px; font-size:2.0rem; padding-left:56px;">    <%= link_to "Covid Form", new_covid_form_path, class: "btn-flat-raiders-gold" %>  </p>
</div>
<% else %>
      <div class="col-12" style="position: relative; margin: 0 auto;">
      <p style="text-align:center; padding-top:48px; padding-bottom: 48px; font-size:2.0rem; font-weight:700; padding-left:64px; ">Sign up or Login to fill out your covid form</p>
    </div>
<% end %>
  </div>
</div>
