<div class="container">
  <div class="row">
    <div class="col-12" style="margin:0 auto; position: relative;">

      <h1 class="my-5"> Below is the list of players that were flagged on a particular day. you can view the symptoms they presented by clicking "View Form"</h1>
    </div>
    <div class="col-8">
<% @flags_with_dates.each do |key, array| %>

<div>

</div>

  <p style="font-weight:700; font-size: 1.5rem;"> <%= key %>  </p>
        <% array.each do |flag| %>
<div class= "d-flex" style="justify-content: space-between;">
        <p> <%= flag.user.name %> </p>
        <%= link_to "View Form", covid_form_path(flag.covid_form_id) %>
</div>
        <% end %>

<% end %>
</div>
    </div>
  </div>
</div>
